
<title><%= "Cat Names".upcase %></title>

<p><%= "Cat Names".upcase %></p>

<% @cats.each do |cat| %>
  <%= link_to cat.name, cat_url(cat) %>
  <br/>
<% end %>

<%= link_to "Create New Cat", new_cat_url %>
